* {
  box-sizing: border-box;
}

body {
  color: #0a1029;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 100%;
  background-color: #fff;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.header-nav {
  min-height: 112px;
  display: flex;
}

.menu {
  flex: 0 1 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  font-weight: 600;
  list-style: none;
}

.menu-item {
  padding-left: 14px;
  position: relative;
}

.menu-item::before {
  content: "";
  width: 8px;
  background-color: #cdcdcd;
  height: 15px;
  position: absolute;
  top: 0px;
  left: 0;
  clip-path: polygon(0 0, 2px 0, 8px 15px, 6px 15px);
  transition: clip-path 200ms linear, background-color 200ms linear;
}

.menu-item:hover::before {
  clip-path: polygon(3px 0, 5px 0, 5px 15px, 3px 15px);
  background-color: #4E6FFC;
}

.menu-link {
  text-transform: uppercase;
  color: #3149c1;
  transition: color 150ms linear;
}

.menu-item:hover .menu-link {
  color: #4E6FFC;
}

.page__intro {
  height: 590px;
}

.intro {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #fceec5;
}

.intro-img {
  z-index: 1;
  position: absolute;
  inset: 0 auto 0 0;
  display: inline-block;
  width: 50%;
  height: 100%;
  flex: 1 0 50%;
  background-image: url("https://uploads-ssl.webflow.com/62d9b2454d6434f28134b914/62daa6b4bb64b919f974cea7_intro-shape2.svg"), url("https://uploads-ssl.webflow.com/62d9b2454d6434f28134b914/62daa6b45aa618472e0a57ce_intro-shape1.svg"), url("https://uploads-ssl.webflow.com/62d9b2454d6434f28134b914/62daa48b754c764bd3b35c5d_3(2).jpg");
  background-position: 100% 0%, 0% 100%, 0% 50%;
  background-size: auto 100%, auto 100%, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-attachment: scroll, scroll, scroll;
  background-clip: content-box;
  object-fit: cover;
}

.intro__container {
  flex: 50%;
  height: 100%;
  z-index: 1;
  position: relative;
}

.intro__content {
  display: flex;
  min-height: 100%;
  padding: 72px 0 72px 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}

.intro__title {
  margin-bottom: 72px;
  color: #505b91;
  font-size: 63px;
}

.intro__button {
  display: inline-block;
  margin-bottom: 24px;
  padding: 24px 64px;
  background-color: #7A90F5;
  color: #040b2f;
  font-size: 21px;
  font-weight: 600;
  background-clip: border-box;
  clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
  transition: background-color 250ms linear;
}

.intro__button:hover {
  background-color: #4E6FFC;
}

.intro__text {
  font-size: 29px;
  line-height: 160%;
}